.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  padding-inline: 50px;
  margin-inline: auto;
  margin-top: 50px;
  position: relative;
}

.navigation {
  display: flex;
  gap: 30px;
}

.navigation a {
  transition: all 0.2s;
}

.navigation a:hover {
  color: var(--neutral-dark-400);
}

.backgroundImage {
  position: absolute;
  z-index: -1;
  left: 60%;
  transform: translateY(15%);
}
