.heroSection {
  display: flex;
  align-items: center;
}

.heroText {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.heroText h1 {
  line-height: 1.2;
  font-size: 50px;
  max-width: 15ch;
}

.heroText p {
  max-width: 35ch;
}

.heroText button {
  align-self: flex-start;
}

@media screen and (max-width: 1000px) {
  .heroSection {
    flex-direction: column-reverse;
    gap: 0px;
  }
  .heroText {
    gap: 20px;
    align-items: center;
    text-align: center;
  }
  .heroText button {
    margin-inline: auto;
  }
}

@media screen and (max-width: 600px) {
  .heroSection h1 {
    font-size: 35px;
  }
}
