.main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 150px;
  position: relative;
}

.title h2 {
  font-size: 35px;
  margin-bottom: 30px;
  max-width: 20ch;
}
.title p {
  max-width: 33ch;
}

.bullets {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.backgroundImage {
  position: absolute;
  z-index: -1;
  left: -35%;
  top: 60%;
}

@media screen and (max-width: 1000px) {
  .main {
    flex-direction: column;
    align-items: center;
  }
  .title {
    margin-bottom: 50px;
    text-align: center;
    margin-inline: auto;
  }
  .title p {
    margin-inline: auto;
  }
  .backgroundImage {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .title h2 {
    font-size: 30px;
  }
}
