*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* TYPOGRAPHY */
:root {
  --primary-dark: hsl(228, 39%, 23%);
  --primary-bright: hsl(12, 88%, 59%);
  --neutral-dark-400: hsl(227, 12%, 61%);
  --neutral-dark-900: hsl(233, 12%, 13%);
  --neutral-accent: hsl(13, 100%, 96%);
  --neutral-bright: hsl(0, 0%, 98%);
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
}

h1,
h2,
h3,
a {
  color: var(--primary-dark);
}

p {
  color: var(--neutral-dark-400);
  font-weight: 400;
}

/* GLOBAL TWEAKS */
body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
button {
  cursor: pointer;
}

/* HELPER CLASSES */
.maxedWidth {
  max-width: 1400px;
  padding-inline: 50px;
  margin-inline: auto;
}
